/* Created by Santiago Tolosa */

html {
    background: #0d1220;
}

/* Fonts */

@font-face {
    font-family: 'Poppins';
    src: local("Poppins"),local("Poppins"),
    url(../fonts/Poppins.woff2) format("woff2"),
    url(../fonts/Poppins.woff) format("woff"),
    url(../fonts/Poppins.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Poppins';
    src: local("Poppins Bold"),local("Poppins Bold"),
    url(../fonts/Poppins Bold.woff2) format("woff2"),
    url(../fonts/Poppins Bold.woff) format("woff"),
    url(../fonts/Poppins Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}
  
@font-face {
font-family: 'Poppins ExtraBold';
src: local("Poppins ExtraBold"),local("Poppins ExtraBold"),
url(../fonts/Poppins ExtraBold.woff2) format("woff2"),
url(../fonts/Poppins ExtraBold.woff) format("woff"),
url(../fonts/Poppins ExtraBold.ttf) format("truetype");
font-weight: 800;
font-style: normal;
}


/* Colors */

:root {
    --color1: #03a5d8;
    --color2: #5ae3ab;
    --color3: #007fa7;
    --darkbg: #0d1220;
    --gradient-horizontal: linear-gradient(90deg,#5ae3ab,#03a4d8);
    --gradient-vertical: linear-gradient(180deg,#5ae3ab,#03a4d8);
  }

/* Styles */

.navbar{
    background: transparent;
    margin-top: 2em;
}
.navbar a.navbar-item {
    color: #fff;
    font-family: 'Poppins Extrabold', sans-serif;
    font-weight: 800;
    transition: .3s all ease;
    border-bottom: 1px solid transparent;
    padding: 0;
    margin: 0 2em
}

.navbar a.navbar-item:hover{
    color: #fff;
    background: transparent;
    border-color: #fff;
    transform: scale(1.1);
}

.navbar-item .button, 
.hero-body .button,
.vermas a {
    background: var(--gradient-horizontal);
    color: #fff;
    font-family: 'Poppins Extrabold', sans-serif;
    border:none;
    border-radius: 50px;
    padding: 1.5em 2em;
    line-height: 1.2;
    transition: .3s all ease;
}
.hero-body .button {
    background: var(--gradient-horizontal);
    padding: 1.5em;
}
.navbar-item .button:hover,
.hero-body .button:hover{
    transform: scale(1.05);
}

.navbar-burger {
    z-index: 100;
}

.navbar-burger span {
    color: #fff;
    width: 24px;
    transition-duration: 0.35s;
}

.navbar-burger span:first-child {
    top: calc(50% - 8px);
}
.navbar-burger span:nth-child(3) {
    top: calc(50% + 6px);
}
.navbar-burger.is-active span:first-child {
    transform: translateY(8px) rotate(45deg);
}
.navbar-burger.is-active span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

.navbar-menu{
    background: transparent;
}
@media screen and (max-width: 1023px){
    .navbar-menu.is-active {
        position: absolute;
        top: -2em;
        height: calc(100vh + 2em);
        width: 100%;
        background: rgba(13, 18, 32, 0.99);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        animation: fadeIn 0.5s ease-in-out;    
    }
     .navbar-menu.is-active.show {
        animation: fadeIn 0.5s ease-in-out;
        opacity: 1;
      }
    .navbar-menu.hide {
        animation: fadeOut 0.5s ease-in-out;
        opacity: 0;
    }
   
    .navbar a.navbar-item {
        font-size: 2em;
        height: 40%;
    }
}


.hero-main{
    background: var(--darkbg);
}

.main-title {
    font-family: 'Poppins ExtraBold', Serif;
    font-size: 3em;
    font-weight: 800;
    color: #fff;
}
.subtitle{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
}

.subtitle strong{
    font-family: 'Poppins Extrabold', sans-serif;
    font-weight: 800;
    font-size: 1.1em;
    background: var(--gradient-horizontal);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 6.5s ease-in infinite;
}

@keyframes gradient{
    0%  {background-position: 0% center; }
    50% {background-position: 200% center;}
    100% {background-position: 0% center;}
}

.skills {
	background:#f2f2f2;
}

.skills .title,
.portfolio .title {
    font-family: 'Poppins ExtraBold', Serif;
    font-size: 2.5em;
    font-weight: 800;
}

.skills .skills-container{
    margin: 0 auto;
    max-width: 700px;
}
.skills .skill {
    margin: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 20px;
    transition: .3s all ease;
    position: unset;
}
/* .info {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding: 1em;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    height: auto;
    opacity: 0;
    transition: .5s all ease;
} */

.skills .skill:hover {
    cursor: pointer;
    transform: rotate(5deg) scale(1.05);
    box-shadow: 5px 5px 20px -3px var(--darkbg);
}
.skills .soon {
    overflow: hidden;
}

.skills .soon::before{
    content: "Soon";
    color: var(--color2);
    font-family: 'Poppins', Serif;
    font-weight: 400;
    text-align: center;
    display: block;
    width: calc(100%);
    background: rgba(13, 18, 32, 0.90);
    transform: rotate(45deg) translate(20%,-200%); 
}

@media screen and (max-width: 610px){
    .skills .soon::before{
        font-size: .65em;
        width: calc(100% + 3em);
        transform: rotate(45deg) translate(10%,-100%);
    }
}
.skills .soon img{
    position: relative;
    top: -.5em;
}
/* .skill:hover > .info{
    transform: rotate(5deg);
    animation: fadeIn .5s ease-in-out;
    opacity: 1;
    display: flex;
    width: 100%;
    max-width: 300px;
} */

.portfolio{
    
}
.portfolio {
    overflow: hidden;
    background: #0d1220;
    transition: .3s all ease;
  }

.portfolio .work {
    width: 300px;
    height: 200px;
    margin: 0.5em;
    z-index: 6;
    padding: 0;
    border-radius: 3px;
    -webkit-box-shadow: 1px 2px 5px #030303;
    box-shadow: 1px 2px 5px #030303;
    overflow: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.portfolio .work .vermas {
    width: 300px;
    height: 200px;
    background: rgba(13, 18, 32, .9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s all ease-in-out; 
}
.portfolio .work .vermas a{
    padding: .5em 1em;
    transition: .3s all ease-in-out:
}
.portfolio .work .vermas a:hover {
    transform: scale(1.1);
}
.portfolio .work .vermas .has-text-white {
    font-family: 'poppins', Sans-serif;
    font-weight: 700; 
    margin-bottom: 1em;
}
.portfolio .work:hover .vermas {
    cursor: pointer;
    transform: translate(0, -206px);
    z-index: 10; 
}

.portfolio .work:hover {
    transform:scale(1.15);
    box-shadow: 2px 2px 8px var(--color1),-2px -15px 20px var(--color2);
}

/* Media queries */

@media screen and (min-width: 580px){
    .main-title{
        font-size: 5em;
    }
    .subtitle {
        font-size: 2em;
    }
}

@media screen and (min-width: 1024px){
    .hero-main .hero-body {
        padding-left: 0;
    }
}